:root {
    --color-background:#ffffff;
    --color-red:#da1a2c;
    --color-cinza-fonte:#757983;
    --color-detalhe-logo:#971720;
    --color-bolhas-medias: #d6d9e3;
    --color-bolhas-claras:#ecedef;
    --color-bolhas-escuras:#2B3D50;
  }
  .t-back-rs{
      background-color: var(--color-cinza-fonte);
  }
.font-light-grey{
    color: var(--color-bolhas-medias);
}
h1{
    color: var(--color-detalhe-logo);
}
label{
    color: var(--color-bolhas-medias);
}
input{
    border: 1px solid var(--color-bolhas-medias);
    outline: none;
}
.container-navbar{
    background-color: var(--color-cinza-fonte);
    color: var(--color-background);
}
.container-navbar div li {
    color: var(--color-background);
}
#m-log-em-pas label{
    color: var(--color-bolhas-escuras);
}
#m-log-em-pas input{
    border: 1px solid var(--color-bolhas-escuras);
}
.m-footer-card button{
    background-color: var(--color-bolhas-medias);
    border: 1px solid var(--color-cinza-fonte);
}

.m-cont-form-theme button{
    background: var(--color-bolhas-escuras);
    color: var(--color-bolhas-medias);
}
.container-navbar a{
    color: var(--color-bolhas-medias);
}
.container-navbar a:hover{
    font-weight: bold;
    color: var(--color-detalhe-logo);
}










